# Chi-Squared test

The Chi-Squared test is a statistical hypothesis test that assumes (the null hypothesis) that the observed frequencies for a categorical variable match the expected frequencies for the categorical variable. 

Refer : https://www.youtube.com/watch?v=LE3AIyY_cn8

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
df=sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

**H0 : There is no Relation between 'species' abd 'sex'** 

**H1 : There is Relation between 'species' abd 'sex'**

In [12]:
ds_table=pd.crosstab(df['species'],df['sex'])
ds_table

sex        Female  Male
species
Adelie         73    73
Chinstrap      34    34
Gentoo         58    61

In [14]:
observed_val=ds_table.values
observed_val

array([[73, 73],
       [34, 34],
       [58, 61]])

**chi2_contingency :** This function computes the chi-square statistic and p-value for the
hypothesis test of independence of the observed frequencies in the
contingency table.  The expected frequencies are computed
based on the marginal sums under the assumption of independence; see

The number of degrees of freedom is (expressed using numpy functions and attributes)::

    dof = observed.size - sum(observed.shape) + observed.ndim - 1

In [15]:
# chi-squared test with similar proportions
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [ ]:
alpha=0.05
prob = 1-alpha

### Interpret test-statistic

In [16]:
stat, p, dof, expected = chi2_contingency(observed_val)

In [17]:
##
stat

0.04860717014078318

In [18]:
##p-val
p

0.9759893689765846

In [19]:
##Degree of freedom
dof

2

In [20]:
##Expected Value
expected

array([[72.34234234, 73.65765766],
       [33.69369369, 34.30630631],
       [58.96396396, 60.03603604]])

In [25]:
print('significance=%.3f, p=%.3f' % (alpha, p))

significance=0.050, p=0.976

###  Interpret p-value

In [22]:
critical = chi2.ppf(prob, dof)
critical

5.991464547107979

In [24]:
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))

probability=0.950, critical=5.991, stat=0.049

In [23]:
if abs(stat) >= critical:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)
Independent (fail to reject H0)